@*<div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">Steeroid</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
        </ul>
    </div>

    @code {
        private bool collapseNavMenu = true;

        private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

        private void ToggleNavMenu()
        {
            collapseNavMenu = !collapseNavMenu;
        }
    }*@




@inject IJSRuntime JSRuntime

@inject MachineService MacService


<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Steeroid Registration</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>

        @*<li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>*@

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Register Machine
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => Repair()">
                <span class="oi oi-wrench" aria-hidden="true"></span><span style="cursor: pointer">Repair</span>
            </NavLink>
        </li>

        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="() => Test()">
                <span class="oi oi-check" aria-hidden="true"></span><span style="cursor: pointer">Test</span>
            </NavLink>
        </li>


    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    async Task Repair()
    {

        var confirm = await JSRuntime.Confirm("This will reset database. Continue?");

        if (confirm)
        {
            Console.WriteLine("reset db");
            MacService.Reset();



        }
    }

    async Task Test()
    {

        // var confirm = await JSRuntime.Confirm("This will reset database. Continue?");

        Console.WriteLine("Run sample script...");
        await Task.Delay(1000);
    }


}
